.page-list {
  .list-view-section-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(177px, 1fr));
    grid-gap: 10px;
    width: 100%;
    padding-top: 10px;
  }
  &-item {
    box-shadow: 0 8px 12px #ebedf0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    &-img {
      //   width: 100%;
      //   height: 265px;
      position: relative;
      img {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }
    }
    &-title {
      width: 100%;
      height: 40px;
      background-color: #fff;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      text-align: left;
      color: #aaa;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      width: 100%;
      font-size: 14px;
      white-space: nowrap;
      border-bottom: 1px solid #ebebeb;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 12px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .pic-number {
      position: absolute;
      bottom: 3px;
      left: 0;
      display: block;
      border-top-right-radius: 2px;
      background-color: rgba(80, 92, 92, 0.5);
      color: #fff;
      text-align: center;
      padding: 5px;
      font-size: 12px;
    }
  }
}
