@import url('./common.less');
// @import url('./create-panel-conf.less');
// @import url('./disable.less');
// @import url('./drag-size.less');
// @import url('./full-screen.less');
// @import url('./icon.less');
// @import url('./menus.less');
@import url('./panel.less');
@import url('./text.less');
body {
  overflow: hidden;
  font-family: Arial, Helvetica, SimSun, sans-serif;
  margin: 0;
  padding: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// 自定义webkit滚动条样式
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #fbfbfb !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #cacaca !important;
}

.am-modal-popup .am-modal-content {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.am-tabs-default-bar-tab-active {
  color: #c4937e !important;
  font-weight: 700;
}
.am-tabs-default-bar-underline {
  border: 1px solid #c4937e !important;
}
.am-tabs-default-bar-tab {
  font-size: 15px;
  color: #8a8a8a;
  cursor: pointer;
}
.am-navbar-light .am-navbar-title {
  color: #8a8a8a !important;
}