.my-like {
  &-item {
    background: #f7f2ef;
  }
  &-tag {
      .list-view-section-body {
        // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        display: flex !important;
        flex-wrap: wrap;
        align-items: center;
      }
  }
  .am-list-footer > div {
    padding: 10px 0;
  }
}

.tag {
  &-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 10px;
    width: 100%;
    padding: 10px;
  }
  &-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    &-text {
      color: #929292;
      font-size: 13px;
      margin-top: 10px;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}

