.preview {
  height: 100vh;
  height: calc(100vh - var(--vh-offset, 0px));
  overflow-x: hidden;
  overflow-y: auto;
  &-item {
    width: 100%;
    height: 600px;
    &-bg {
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
  &-mask {
    position: relative;
    &-box {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 200px;
      background-image: linear-gradient(hsla(0, 0%, 92.2%, 0), #ebebeb);
      text-align: center;
      z-index: 2;
    }
  }
  &-tips {
    color: #959595;
    background-image: linear-gradient(#ebebeb, hsla(0, 0%, 92.2%, 0));
    text-align: center;
    padding-top: 50px;
    .em {
      color: #d73333;
      font-size: 16px;
      padding: 0 5px;
      font-style: italic;
    }
    .btn-wrap {
      padding: 20px 0 30px 0;
    }
    .btn {
      background-color: #108ee9;
      border-color: #108ee9;
      outline: 0;
      color: #fff;
    }
    .btn::before {
      border-color: #108ee9 !important;
    }
  }
  .home-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 111;
    .icon-shouye {
      color: #f5f5f5;
      font-size: 23px !important;
    }
  }
}

.recommend-wrap {
  padding: 10px;
  .recommend-title {
    width: 100%;
    border-bottom: 1px solid #c4937e;
    h1 {
      font-size: 16px;
      color: #525252;
      padding-bottom: 5px;
      margin: 0;
      font-weight: 500;
    }
  }
  .recommend-content {
    padding-bottom: 50px;
  }
  .recommend-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 10px;
    width: 100%;
    padding-top: 10px;
    &-item {
      // box-shadow: 0 8px 12px #ebedf0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      max-width: 200px;
      &-img {
        //   width: 100%;
        //   height: 265px;
        position: relative;
        img {
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          display: block;
        }
      }
      &-title {
        width: 100%;
        height: 40px;
        background-color: #fff;
        // flex: 1;
        text-align: left;
        color: #aaa;
        width: 100%;
        font-size: 14px;
        border-top: 1px solid #ebebeb;
        // border-left: 1px solid #ebebeb;
        // border-right: 1px solid #ebebeb;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-sizing: border-box;
        span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
      }
      .pic-number {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        border-top-right-radius: 2px;
        background-color: rgba(80, 92, 92, 0.5);
        color: #fff;
        text-align: center;
        padding: 5px;
        font-size: 12px;
      }
      .pic-recommend {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        border-top-right-radius: 2px;
        background-color: #108ee9;
        color: #fff;
        text-align: center;
        padding: 5px;
        font-size: 12px;
      }
    }
  }
}

.work-details {
  padding: 0 15px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 222;
  .btn {
    background-color: #108ee9;
    border-color: #108ee9;
    outline: 0;
    color: #fff;
  }
  .btn::before {
    border-color: #108ee9 !important;
  }
  .left,
  .common {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #686868;
    font-size: 16px;
    cursor: pointer;
  }
  .start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #686868;
    font-size: 16px;
    margin: 0 20px;
    cursor: pointer;
  }
  &-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.details {
  height: 80vh;
  height: calc(80vh - var(--vh-offset, 0px));
  overflow: auto;

  &-title {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #c3c3c3;
    font-size: 16px;
  }
  &-wrap {
    padding: 10px 15px;
  }
  &-person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c3c3c3;
    padding: 5px 0 10px 0;
    &-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &-icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    &-type {
      display: inline-block;
      padding: 1px 10px;
      background-color: #108ee9;
      text-align: center;
      font-size: 14px;
      color: #fff;
      margin: 0 15px;
      border-radius: 8px;
    }
    &-name {
      font-size: 14px;
      color: #333;
    }
    &-like {
      border: 0;
      outline: 0;
      padding: 5px 10px;
      background-color: #108ee9;
      color: #fff;
      font-size: 14px;
      border-radius: 8px;
    }
  }
  &-info {
    text-align: left;
  }
}

.comment-details {
  height: 80vh;
  height: calc(80vh - var(--vh-offset, 0px));
  overflow: hidden;
  &-title {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #c3c3c3;
    font-size: 16px;
  }
  &-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #c3c3c3;
  }
  &-content {
    padding: 5px 10px;
    height: calc(80vh - 90px);
    height: calc(80vh - var(--vh-offset, 0px) - 90px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .comment-send {
    color: #108ee9;
    font-size: 14px;
    cursor: pointer;
  }
  .comment-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
    &-right {
      text-align: left;
      margin-left: 10px;
      flex: 1;
      h3 {
        margin: 0;
        font-size: 16px;
      }
      p {
        margin: 5px 0;
        font-size: 14px;
      }
      span {
        font-size: 12px;
      }
    }
    &-img {
      border-radius: 50%;
      object-fit: fill;
    }
  }
  .loader {
    padding: 10px 0;
  }
}
